@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
/* === Mixins === */
/* === / MIXINS === */
/* ===  VARIABLES === */
/* ===  /VARIABLES === */
/* ===  /COMMON === */
body {
  font-family: 'Roboto', sans-serif;
  color: #8d96bd; }

.section-outer {
  border-bottom: 1px solid #d8e3fe; }

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px; }
  .section-inner--wide {
    max-width: 1100px; }

.btn {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  background-color: none;
  padding: 12px 16px;
  border-radius: 2px;
  transition: 0.2s; }
  .btn--primary {
    background-color: #d2e1ff;
    color: #3a79ff; }
    .btn--primary:hover {
      background-color: #b9d0ff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #8d96bd; }

h1,
h2 {
  font-size: 48px;
  margin-bottom: 48px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 24px; }

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  margin-bottom: 16px; }

.ta-c {
  text-align: center; }

/* ===  /COMMON === */
/* ===  /HEADER === */
.section-header .section-inner {
  padding-top: 20px;
  padding-bottom: 20px; }

.main-navigation {
  display: flex;
  align-items: center; }

.logo {
  width: 24px;
  height: 24px;
  background-color: #5e81fe;
  border-radius: 100%; }

.nav {
  margin-left: 72px; }

.nav-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none; }
  .nav-wrapper__item + .nav-wrapper__item {
    margin-left: 40px; }
  .nav-wrapper__item-link {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    color: #697ca6;
    transition: 0.2s; }
    .nav-wrapper__item-link:hover {
      font-weight: 700;
      color: #6188ff; }
    .nav-wrapper__item-link--active {
      font-weight: 700;
      color: #6188ff; }

.socials {
  margin-left: auto; }

.socials-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center; }
  .socials-wrapper__item + .socials-wrapper__item {
    margin-left: 40px; }
  .socials-wrapper__item-link path {
    fill: #b6bac7; }
  .socials-wrapper__item-link:hover path {
    fill: #6188ff;
    transition: 0.2s; }

.btn-wrapper {
  margin-left: 44px; }

/* ===  /HEADER === */
/* === HERO-IMAGE === */
.section-hero-image {
  background-color: #f4f7ff; }

.slider-hero-image {
  margin: 0;
  padding: 0;
  list-style: none; }
  .slider-hero-image__item {
    height: 560px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
    text-align: center; }
    .slider-hero-image__item-content h2 {
      font-weight: 300; }
      .slider-hero-image__item-content h2 span {
        font-weight: 500;
        color: #3d4f9f; }
    .slider-hero-image__item-content .text {
      width: 60%;
      margin: 0 auto 20px;
      line-height: 2; }

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6); }
  .icon-play::before {
    display: block;
    margin-left: 16px;
    width: 0;
    height: 0;
    content: "";
    border-width: 8px 12px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #5e81ff; }

/* === /HERO-IMAGE === */
/* === CUSTOMERS === */
.section-customers .section-inner {
  padding-top: 48px;
  padding-bottom: 48px; }

/* ===/CUSTOMERS === */
/* === PLAN-AND-MANAGE === */
.section-plan-and-manage {
  background-color: #f5f8ff; }

/* ===/PLAN-AND-MANAGE === */
/* === FEATURES === */
/* ===/FEATURES === */
/* === STATS === */
.section-stats {
  background-color: #e9efff; }
  .section-stats .section-inner {
    padding-top: 48px;
    padding-bottom: 48px; }

/* ===/STATS === */
/* === BLOG === */
.section-blog {
  background-color: #f5f8ff; }

/* ===/BLOG === */
/* === QUOTES === */
.section-quotes {
  background-color: #eaf0ff; }

/* ===/QUOTES === */
/* === FAQ === */
/* ===/FAQ === */
/* === GET STARTED === */
.section-get-started {
  background-color: #6888ff; }

/* ===/GET STARTED === */
/* === NEWSLETTER === */
/* ===/NEWSLETTER === */
/* === FOOTER === */
.section-footer {
  border-bottom: 0; }
  .section-footer .section-inner {
    padding-top: 20px;
    padding-bottom: 20px; }

.copyright {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #aeb8d0;
  margin-left: 96px;
  margin-top: 28px; }

/* === /FOOTER === */
