@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

/* === Mixins === */

@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}

@mixin list-null {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* === / MIXINS === */

/* ===  VARIABLES === */
$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 12px;
$fs-md: 15px;
$fs-lg: 18px;
$fs-xl: 48px;
$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 12;
$padding-vertical: $base * 30;

$color-divider: #d8e3fe;
$transition: 0.2s;

$color-primary: #697ca6;
$color-secondary: #6188ff;

/* ===  /VARIABLES === */

/* ===  /COMMON === */

body {
  @include roboto;

  color: #8d96bd;
}

.section-outer {
  border-bottom: 1px solid $color-divider;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  &--wide {
    max-width: 1100px;
  }
}

.input {
  @include quicksand;

  padding: $base*3 $base*4;
  font-weight: $fw-bold;
  font-size: $fs-sm;
  background: #efeff7;
  border: 1px solid transparent;
  border-radius: $base/2;

  &--size-lg {
    padding: $base*5 $base*6;
    border-radius: $base;
  }
}

.btn {
  @include quicksand;

  box-sizing: border-box;
  display: inline-block;
  font-weight: $fw-bold;
  font-size: $fs-sm;
  text-decoration: none;
  white-space: nowrap;
  background: none;
  padding: $base*3 $base*4;
  border-radius: $base/2;
  border: 1px solid transparent;
  transition: $transition;
  cursor: pointer;

  &--size-lg {
    padding: $base*5 $base*15;
    border-radius: $base;
  }

  &--primary {
    background-color: #d2e1ff;
    color: #3a79ff;

    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }
  }

  &--secondary {
    color: #fff;
    background-color: #4c85ff;

    &:hover {
      background-color: darken(#4c85ff, 5%);
    }

    &-inverted {
      color: #565f82;
      background-color: #fff;

      &:hover {
        background-color: darken(#fff, 5%);
      }
    }
  }

  &--no-bg {
    color: #adb4d2;
    border: 1px solid #d1d1e4;

    &:hover {
      color: darken(#adb4d2, 10%);
      border: 1px solid darken(#d1d1e4, 10%);
    }

    &-inverted {
      color: #c7d3ff;
      border: 1px solid #a0b4ff;

      &:hover {
        color: lighten(#c7d3ff, 10%);
        border: 1px solid lighten(#a0b4ff, 10%);
      }
    }
  }

  &--danger {
    background-color: #ffd7d7;
    color: #d43f3f;

    &:hover {
      background-color: darken(#ffd7d7, 5%);
    }
  }

  &--greyscale {
    background-color: #e8ecf4;
    color: #7382a3;

    &:hover {
      background-color: darken(#e8ecf4, 5%);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include quicksand;

  padding: 0;
  margin: 0;
  font-weight: $fw-regular;
  color: #3d4f9f;
}


h2 {
  font-size: 48px;
  margin-bottom: $base * 12;
}

h3 {
  font-size: 36px;
  margin-bottom: $base * 7;
}

h4 {
  font-size: 24px;
  margin-bottom: $base * 20;
}

h5 {
  @include roboto;

  font-size: 10px;
  margin-bottom: $base * 4;
  text-transform: uppercase;
}

.ta-c {
  text-align: center;
}

.dots {
  @include list-null;

  display: flex;
  justify-content: center;

  &__item {
    height: $base *2;
    width: $base *2;
    background-color: #d1d6e3;
    border-radius: 100%;
    transition: $transition;

    &--active {
      background-color: #4b71ff;
    }

    & + & {
      margin-left: $base * 3;
    }
  }
}

.btn-group {
  display: inline-flex;

  .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* ===  /COMMON === */

/* ===  /HEADER === */

.section-header {
  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }
}

.main-navigation {
  display: flex;
  align-items: center;
}

.logo {
  &__link{
    display: block;
    width: $base * 6;
    height: $base * 6;
    background-color: #5e81fe;
    border-radius: 100%;
  }

}

.nav {
  margin-left: $base * 18;
}

.nav-wrapper {
  @include list-null;

  display: flex;

  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      @include quicksand;

      text-decoration: none;
      font-weight: $fw-medium;
      font-size: $fs-sm;
      color: $color-primary;
      transition: $transition;

      &:hover {
        font-weight: $fw-bold;
        color: $color-secondary;
      }

      &--active {
        font-weight: $fw-bold;
        color: $color-secondary;
      }
    }
  }
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  @include list-null;

  display: flex;
  align-items: center;

  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      path {
        fill: #b6bac7;
      }

      &:hover {
        path {
          fill: #6188ff;
          transition: $transition;
        }
      }
    }
  }
}

.btn-wrapper {
  margin-left: $base * 11;
}

/* ===  /HEADER === */

/* === HERO-IMAGE === */

.section-hero-image {
  position: relative;
  background-color: #f4f7ff;

  .dots {
    position: absolute;
    bottom: $base * 6;
    left: 50%;
    transform: translateX(-50%);
  }
}

.slider-hero-image {
  @include list-null;

  &__item {
    height: $base * 140;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
    text-align: center;

    &-content {
      h2 {
        font-weight: $fw-light;

        span {
          font-weight: $fw-medium;
        }
      }

      .text {
        width: 60%;
        margin: 0 auto $base * 5;
        line-height: 2;
      }
    }
  }
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $base * 13;
  height: $base * 13;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 $base * 2 $base * 12 rgba(#c9d1e7, 0.6);

  svg {
    width: $base *3;
    height: $base *3;
  }
}

/* === /HERO-IMAGE === */

/* === CUSTOMERS === */

.section-customers {
  .section-inner {
    display: flex;
    justify-content: space-between;
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
    transition: $transition;

    a {
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }
  }
}

/* ===/CUSTOMERS === */

/* === PLAN-AND-MANAGE === */

.section-plan-and-manage {
  position: relative;
  overflow: hidden;
  background-color: #f5f8ff;

  &__content {
    width: 50%;

    .aside-image {
      position: absolute;
      top: 0;
      left: 42%;
    }

    h3 {
      font-weight: $fw-light;

      span {
        font-weight: $fw-medium;
      }
    }

    .text {
      line-height: 2;
      margin-bottom: $base * 12;
    }

    .btn-group {
      svg {
        margin-left: $base;
      }
    }
  }
}

/* ===/PLAN-AND-MANAGE === */

/* === FEATURES === */
.section-features {
  background: url(../img/clouds.svg) no-repeat 50% 50%;
}

.features-list {
  @include list-null;

  display: flex;
  margin: 0 0 $base*23;
  text-align: center;

  &__item {
    $margin-left: $base * 10;
    $width-divider: $base * 7;

    flex-basis: 25%;
    position: relative;

    &:not(:first-child) {
      margin-left: $margin-left;
    }

    &:not(:first-child)::before {
      position: absolute;
      content: "";
      height: 1px;
      width: $width-divider;
      top: $base * 30;
      left: -$margin-left + (($margin-left - $width-divider)/2);
      background-color: #dae4fe;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto $base * 8;
      width: $base * 17;
      height: $base * 17;
      border-radius: 100%;
      background-color: #f1f5ff;
    }

    &-title {
      font-weight: $fw-bold;
      font-size: $fs-md;
      color: #4074f8;
      margin-bottom: $base * 7;
    }

    &-text {
      line-height: 2;
    }
  }
}

.btns {
  display: flex;
  justify-content: center;
}

.or-block {
  display: inline-flex;
  align-items: center;
  font-size: $fs-sm;
  font-weight: $fw-medium;
  margin: 0 $base * 4;
}

.or-block::before,
.or-block::after {
  content: "";
  display: block;
  height: 1px;
  width: $base * 4;
  background-color: #dae4fe;
}

.or-block::before {
  margin-right: $base * 4;
}

.or-block::after {
  margin-left: $base * 4;
}

/* ===/FEATURES === */

/* === STATS === */

.section-stats {
  display: flex;
  background-color: #e9efff;

  &__icon {
    margin-bottom: $base * 6;
  }

  &__number {
    font-size: $fs-xl;
    margin-bottom: $base * 6;
  }

  &__text {
    font-size: $fs-lg;
    width: 50%;
    font-weight: $fw-medium;
    line-height: 1.5;
  }

  &__left,
  &__right {
    @include quicksand;

    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: $base*16 $base*22;
  }

  &__left {
    align-items: flex-end;
    background-color: #6888ff;
    color: #fff;
    text-align: right;
  }

  &__right {
    color: #5e80ff;
    text-align: left;
  }
}

/* ===/STATS === */

/* === BLOG === */

.slider-wrapper {
  position: relative;
  margin-bottom: $base*25;
}

.section-blog {
  background-color: #f5f8ff;
}

.slider-blog {
  @include list-null;

  border: 1px solid #d8e3fe;
  box-shadow: 0 $base*4 $base*12 #eff4ff;
  background-color: #fff;

  &__item {
    display: flex;
    padding: $base*18 $base*8;

    &-gallery,
    &-content {
      flex-basis: 45%;
    }

    &-gallery {
      display: grid;
      grid-template-columns: repeat(3, $base*30);
      grid-template-rows: repeat(2, $base*30);
      grid-gap: $base*3;

      .image-link {
        position: relative;
        border-radius: $base;
        box-shadow: 0 $base*4 $base*25 0 #e5ebf8;
        overflow: hidden;

        .loupe {
          position: absolute;
          display: block;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: $base * 16;
          height: $base * 16;
          border-radius: 100%;
          background: #fff url(../img/loupe.svg) no-repeat 50% 50%;
          opacity: 0;
          transition: $transition;
        }

        &:hover {
          .loupe {
            opacity: 1;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &::before {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0.6;
        }

        &--b {
          grid-column: 1/3;
          grid-row: 1/3;

          &::before {
            background: linear-gradient(transparent, #ffc735);
          }
        }

        &--s-1 {
          grid-column: 3/4;
          grid-row: 1/2;

          &::before {
            background: linear-gradient(transparent, #ff3535);
          }
        }

        &--s-2 {
          grid-column: 3/4;
          grid-row: 2/3;

          &::before {
            background: linear-gradient(transparent, #35aaff);
          }
        }
      }
    }

    &-content {
      margin-left: 10%;

      .text {
        line-height: 1.5;
        font-size: $fs-md;
        margin-bottom: $base * 10;
      }
    }
  }
}

.btn-blog {
  display: block;
  position: absolute;
  width: $base * 10;
  height: $base * 10;
  background: url(../img/btn-blog-arrow.svg) no-repeat 50% 50%;
  top: 50%;

  &--prev {
    right: 100%;
    margin-right: $base * 16;
    transform: translateY(-50%);
  }

  &--next {
    left: 100%;
    margin-left: $base * 16;
    transform: translateY(-50%) rotate(180deg);
  }
}

/* ===/BLOG === */

/* === QUOTES === */

.section-quotes {
  background: linear-gradient(#eaf0ff, #f6f9ff);

  .section-inner {
    display: flex;
    justify-content: space-between;

    h3 {
      font-weight: $fw-medium;
    }
  }

  &__left,
  &__right {
    flex-basis: 45%;
  }

  &__left {
    .text {
      line-height: 2;
    }
  }
}

.slider-quotes {
  @include list-null;

  margin-bottom: $base * 20;

  &__item {
    position: relative;
    padding: $base*10 $base*17 $base*15;
    background-color: #fff;
    border: 1px solid #d8e3fe;
    box-shadow: 0 $base*4 $base*12 #d4dcf1;

    &-text {
      font-size: $fw-medium;
      line-height: 2;
      color: #676f95;
    }

    &-photo {
      $height: $base * 15;

      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: -$height/2;
      transform: translateX(-50%);
      width: $base * 15;
      height: $height;
      border-radius: 100%;
      background-color: #fff;
    }
  }
}

/* ===/QUOTES === */

/* === FAQ === */
.section-faq {
  h4 {
    font-weight: $fw-medium;
  }
}

.faq-accordion {
  @include list-null;

  &__item {
    $parent: &;

    border-bottom: 1px solid #d8e3fe;

    &--active {
      #{$parent}-trigger {
        transform: rotate(0);
        color: #495274;
        font-weight: $fw-bold;

        &-icon {
          transform: rotate(0);

          .arrow {
            stroke: #495274;
          }
        }
      }

      #{$parent}-content {
        display: flex;
      }
    }

    &-trigger {
      display: flex;
      padding: $base*4;
      cursor: pointer;

      &-icon {
        width: $base*4;
        margin-right: $base*4;
        transform: rotate(180deg);

        .arrow {
          stroke: #8e96b7;
        }
      }

      &-text {
        font-size: $fs-md;
      }
    }

    &-content {
      display: none;
      padding: 0 $base*4 $base*4 $base*12;

      &-text {
        flex-grow: 1;
        line-height: 2;
        font-size: $fs-md;
      }

      &-btn {
        margin-left: $base*15;
      }
    }
  }
}

/* ===/FAQ === */

/* === GET STARTED === */

.section-get-started {
  position: relative;
  background: linear-gradient(#6888ff, #5e80ff);
  text-align: center;
  color: #fff;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../img/bg-clouds.svg") no-repeat 50% 50%;
    z-index: 5;
  }

  .section-inner {
    position: relative;
    z-index: 10;
  }

  h5,
  h2 {
    color: #fff;
  }

  h2 {
    font-weight: $fw-light;

    span {
      font-weight: $fw-medium;
    }
  }

  .text {
    max-width: 80%;
    line-height: 2;
    margin: 0 auto $base*10;
  }
}

/* ===/GET STARTED === */

/* === NEWSLETTER === */

.section-newsletter {
  background-color: #fcfdff;

  .section-inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    flex-basis: 35%;

    &-title {
      @include quicksand;

      margin-bottom: $base*4;
      color: #3d4f9f;
      font-size: $fs-lg;
      font-weight: $fw-bold;
    }

    &-text {
      font-size: $fs-md;
      line-height: 2;
    }
  }

  &__right {
    flex-basis: 55%;
  }
}

.form-newsletter {
  display: flex;

  &__input {
    flex-grow: 1;
  }

  &__btn {
    margin-left: $base * 3;
  }
}

/* ===/NEWSLETTER === */

/* === FOOTER === */

.section-footer {
  border-bottom: 0;

  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }
}

.copyright {
  @include quicksand;

  font-weight: $fw-medium;
  font-size: $fs-sm;
  color: #aeb8d0;
  margin-left: $base * 24;
  margin-top: $base * 7;
}

/* === /FOOTER === */